# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Vim
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle
build
out
gen

#Aldeon
aldeon.db
aldeon.db.lck
aldeon.db.log
aldeon.db.properties
aldeon.db.script
aldeon.conf

