#content{
    -fx-background-color:#444444;
}

#sidebar{
    -fx-background-color:linear-gradient(from 0% 0% to 100% 0%, #222222, #222222 90%, #1b1b1b 100%);
    -fx-border-color:transparent #2f2f2f transparent transparent;
}
#logo{
    -fx-background-color:linear-gradient(from 0% 0% to 100% 0%, #1d1d1d, #1d1d1d 90%, #1b1b1b 100%);
}
#threadCreator{
    -fx-background-radius:10px;
    -fx-background-color:#222222;
}
#threadName{
    -fx-background-color:#1f1f1f;
    -fx-background-radius:5px;
    -fx-text-fill: #ffffff;
    -fx-font: 12px Verdana;
}
#createButton{
    -fx-background-color:#151515;
    -fx-background-radius:5px;
    -fx-text-fill:#006464;
    -fx-font:7px Verdana;
}

#sidebar StackPane{
    -fx-border-color:transparent transparent #333333 transparent;
}

.author {
    -fx-font:20px Verdana;
}
.list-cell{
    -fx-text-fill: #ffffff;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #222222;
    -fx-text-fill: #00E0FF;
}
.list-cell:odd {
    -fx-background-color: #222222;
}
.list-cell:even {
    -fx-background-color: #222222;
}
.list-cell:filled:hover {
    -fx-background-color: #222222;
    -fx-text-fill: #00E0FF;
}
#main Text{
}

#identityScroll{
    -fx-background-color: #222222;
    -fx-border: 5px;
    -fx-outline: 0px;
    -fx-background-insets: 0px 0px;
}
#identityList{
    -fx-background-color: #222222;
}

.highlight {
    -fx-fill: #00E0FF;
}

.clickable {
    -fx-cursor: hand;
}

.menuhighlight {
    -fx-background-color: rgba(255,255,255,0.05);
}

.menuNoHighlight {
    -fx-background-color: rgba(255,255,255,0);
}
.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-width: 2px;
}

.button {
    -fx-background-color:#151515;
    -fx-background-radius:5px;
    -fx-text-fill:#00E0FF;
    -fx-cursor: hand;
    -fx-padding: 5 10 5 10;
}

.button:hover {
    -fx-background-color: #00E0FF;
    -fx-text-fill: #FFF;
}
.text-input {
    -fx-background-color:#222222;
    -fx-text-fill: #00E0FF;
    -fx-padding: 5 10 5 10;
}
Text{
    -fx-font:12px Verdana;
    -fx-fill:#ccc;
}

.hash-text {
    -fx-font:10px Verdana;
    -fx-fill:#777;
}
CheckBox{
    -fx-fill:#000000;
    -fx-background-color: #000000;
}


