#content{
    -fx-background-color:#444444;
}

#sidebar{
    -fx-background-color:linear-gradient(from 0% 0% to 100% 0%, #222222, #222222 90%, #1b1b1b 100%);
    -fx-border-color:transparent #2f2f2f transparent transparent;
}
#logo{
    -fx-background-color:linear-gradient(from 0% 0% to 100% 0%, #1d1d1d, #1d1d1d 90%, #1b1b1b 100%);
}

#threadCreator{
    -fx-background-radius:10px;
    -fx-background-color:#222222;
}
#threadName{
    -fx-background-color:#1f1f1f;
    -fx-background-radius:5px;
    -fx-text-fill: #ffffff;
    -fx-font: 12px Verdana;
}
#createButton{
    -fx-background-color:#151515;
    -fx-background-radius:5px;
    -fx-text-fill:#006464;
    -fx-font:7px Verdana;
}

#sidebar StackPane{
    -fx-border-color:transparent transparent #333333 transparent;
}

#identityList{
    -fx-background-color: #222222;
    -fx-padding: 0px;
}

#peerList .list-cell{
    -fx-text-fill: #4d4d4d;
}

#peerList .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #222222;
    -fx-text-fill: #00E0FF;
}

#peerList .list-cell:filled:hover {
    -fx-background-color: #222222;
    -fx-text-fill: #00E0FF;
}


#settings .separator *.line{
    -fx-border-color:#ffffff transparent transparent transparent;
}

#settings .text-input{
    -fx-background-color: #1f1f1f;
}

#settingTabs .tab {
    -fx-background-color: #333333;
    -fx-border: 1px;
    -fx-border-color: #1d1d1d;
}
#settingTabs .tab:selected {
    -fx-background-color: #444444;

}

#settingTabs .tab-content-area {
    -fx-background-color: #1d1d1d;
}

#settingTabs .tab *.tab-label {
    -fx-text-fill: #ffffff;
}

#peerList{
    -fx-background-insets: 0px 0px;
    -fx-padding: 0px;
}

.author {
    -fx-font:20px Verdana;
}
.list-cell{
    -fx-text-fill: #333333;
    -fx-background-color: #222222;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #222222;
    -fx-text-fill: #00E0FF;
}

.list-cell:filled:hover {
    -fx-background-color: #222222;
    -fx-text-fill: #00E0FF;
}

.highlight {
    -fx-fill: #00E0FF;
}

.clickable {
    -fx-cursor: hand;
}

.menuHighlight {
    -fx-background-color: rgba(255,255,255,0.05);
}

.menuNoHighlight {
    -fx-background-color: rgba(255,255,255,0);
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-width: 2px;
}

.button {
    -fx-background-color:#151515;
    -fx-background-radius:5px;
    -fx-text-fill:#00E0FF;
    -fx-cursor: hand;
    -fx-padding: 5 10 5 10;
}

.button:hover {
    -fx-background-color: #00E0FF;
    -fx-text-fill: #FFF;
}

.text-input {
    -fx-background-color:#222222;
    -fx-text-fill: #00E0FF;
    -fx-padding: 5 10 5 10;
}

.slider *.thumb {
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.slider *.track {
    -fx-background-color: #1d1d1d;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #4d4d4d;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}

.radio-button .radio {
    -fx-background-color: #1d1d1d;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #222222;
}

Text{
    -fx-font:12px Verdana;
    -fx-fill:#ccc;
}


AnchorPane{
    -fx-background-color: #444444;
}

Label{
    -fx-text-fill: #ffffff;
}

CheckBox{
    -fx-text-fill: #ffffff;
}

CheckBox *.box{
    -fx-background-color: #1d1d1d;
    -fx-padding: 3px;
}

CheckBox:selected:determinate .box .mark{
    -fx-background-color: #4d4d4d;
    -fx-padding: 4px;
}

RadioButton{
    -fx-text-fill: #ffffff;
}

.scroll-pane{
    -fx-background-color: #222222;
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color:#4d4d4d;
}

.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color:#222222;
    -fx-background-radius: 1px;
}

.scroll-pane .scroll-bar:vertical .increment-button{
    -fx-background-color:#222222;
}

.scroll-pane .scroll-bar:vertical .increment-arrow{
    -fx-background-color:#4d4d4d;
}

.scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color:#222222;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow{
    -fx-background-color:#4d4d4d;
}

.scroll-pane .scroll-bar:horizontal .thumb{
    -fx-background-color:#4d4d4d;
}

.scroll-pane .scroll-bar:horizontal .track{
    -fx-background-color:#222222;
    -fx-background-radius: 1px;
}

.scroll-pane .scroll-bar:horizontal .increment-button{
    -fx-background-color:#222222;
}

.scroll-pane .scroll-bar:horizontal .increment-arrow{
    -fx-background-color:#4d4d4d;
}

.scroll-pane .scroll-bar:horizontal .decrement-button{
    -fx-background-color:#222222;
}

.scroll-pane .scroll-bar:horizontal .decrement-arrow{
    -fx-background-color:#4d4d4d;
}