/* -- Sidebar -- */
#sideBar {
    -fx-background-color: linear-gradient(to right, #222222 80%, #181818);
    -fx-border-color: #666666;
    -fx-border-width: 0 1px 0 0;
}

/* -- Main content -- */
#content {
    -fx-background-color: #444444;
}

/* -- Common button styles -- */
.sideButton {
    -fx-background-color: transparent;
    -fx-border-color: #333333;
    -fx-border-width: 0 0 1px 0;
}

#sideBar Label {
    -fx-text-fill: #999999;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.logoButton {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-image: url("../icons/logo.png");
    -fx-cursor: hand;
}

/* -- Common input components -- */

.styled {
    -fx-background-insets: 0, 0, 0, 0;  /* Removes overflowing background (works, don't ask why) */
    -fx-background-color: #191919;
    -fx-border-color: #666666;
    -fx-border-width: 1px;
    -fx-text-fill: #666666;
    -fx-padding: 4px;
    -fx-focus-color: transparent;
    -fx-font-size: 12px;
}
.styled:hover {
    -fx-background-color: #111111;
}

.styled:focused {
    -fx-background-color: #111111;
    -fx-effect: dropshadow(three-pass-box, rgba(40,40,40,0.7), 8, 0.2, 0, 0);
}

Button.styled {
    -fx-cursor: hand;
}