.btn {
    -fx-opacity: 0.3;
    -fx-cursor: hand;
}
.btn:hover {
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0.75, 0, 0);
}
.hash {
    -fx-text-fill: #777777;
    -fx-font-size: 10px;
    -fx-font-family: monospace;
}