.btn {
    -fx-opacity: 0.3;
    -fx-cursor: hand;
}
.btn:hover {
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0.75, 0, 0);
}
.hash {
    -fx-text-fill: #777777;
    -fx-font-size: 10px;
    -fx-font-family: monospace;
}

.messageContent {
    -fx-font-weight: bold;
    -fx-text-fill: #999999;
    -fx-padding: 0 8px 8px 8px;
}

.pill {
    -fx-font-size: 9px;
    -fx-background-color: #222222;
    -fx-border-color: #aaaaff;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-text-fill: #aaaaff;
    -fx-padding: 2px;
}